
a.prev, a.next {font-size: 10pt; color: #CE7E00; font-weight: bold}

#content { }
  #content h1 { font-size: 2.5em; font-weight: normal; line-height: 35px; margin: 0px 0 50px 0; }
  #content p { font-size: 1.2em; line-height: 28px; margin-bottom: 30px; color: rgba(0, 0, 0, 0.719)}
  
  /* relevant for the book image - start */
  #gallery { position: relative; }
    #pictures { position: relative; width:350; height: auto; }
    #pictures img { position: absolute; width:100%;top: 0; right: 0; left:0; box-shadow:10px 10px rgba(255, 208, 0, 0.521)}
    
    #prev { margin-top: 520px; text-align: left; font-size: 1em; }
    #next { margin-top: 0px; text-align: left; font-size: 1em; }
	
  /* relevant for the book image - end */

  /* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}

